{% extends 'core/home.html' %}
{% block title%}<title>Sign up</title>{% endblock %}
{% block content %}
<div class="header_section">
    <div class="container">
        <i><h4>Sign up</h4></i>
    </div>
</div>
<div class="graybg">
	<div class="container">
        <div class="comment-container">
            <div class="comment-list">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.username.label_tag}}
                        <input type="text"
                         class="form-control{% if form.username.errors %}is-invalid{% endif %}" 
                         id="id_username" name="username" placeholder="Username" value="{{form.username.value|default:""}}">
                        {% if form.username.errors %}
                        <div class="invalid-feedback">
                            {{form.username.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.password1.label_tag}}
                        <input type="password" class="form-control{% if form.password1.errors %}is-invalid{% endif %}" 
                        id="id_password1" name="password1" value="{{form.password1.value|default:""}}">
                        {% if form.password1.errors %}
                        <div class="invalid-feedback">
                            {{form.password1.errors}}
                        </div>
                        {% endif %}
                    </div>
                
                    <div class="form-group">
                        {{form.password2.label_tag }}
                        <input type="password" class="form-control{% if form.password2.errors %}is-invalid{% endif %}"
                         id="id_password2" name="password2" value="{{form.password2.value|default:""}}">
                    {% if form.password2.errors %}
                    <div class="invalid-feedback">
                        {{form.password2.errors}}
                    </div>
                    {% endif %}
                </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                
                </form>
            </div>
                <br/>
                <div class="login-container"><a href="{% url 'login' %}">Login here</a></div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>



{% endblock %}